@font-face {
	font-family: 'Sintony';
	src: url('fonts/Sintony.eot');
	src: url('fonts/Sintony.eot?#iefix') format('embedded-opentype'),
		url('fonts/Sintony.woff2') format('woff2'),
		url('fonts/Sintony.woff') format('woff'),
		url('fonts/Sintony.ttf') format('truetype'),
		url('fonts/Sintony.svg#Sintony') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Sintony';
	src: url('fonts/Sintony-Bold.eot');
	src: url('fonts/Sintony-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/Sintony-Bold.woff2') format('woff2'),
		url('fonts/Sintony-Bold.woff') format('woff'),
		url('fonts/Sintony-Bold.ttf') format('truetype'),
		url('fonts/Sintony-Bold.svg#Sintony-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}


$gray: #cacaca;
$gray-dark: #828282;
$primary-color: #29963e;
$content-background: #f5f5f5;

$text-color-dark: #333;
$text-color2: #414141;

$font-primary: 'Sintony', sans-serif;